/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: Arial, sans-serif;
  background-color: rgb(212, 215, 226);
  margin: 0;
}

/* Side Menu Styles */
.admin-dashboard {
  display: flex;
}

.side-menu {
  position: fixed;
  width: 250px;
  height: 100vh;
  background-color: #010f52;
  color: #fdfdfd;
}

.menu-header {
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  border-bottom: 1px solid #555;
  background-color: rgb(243, 243, 243);
  color: #1a2b7f;
}
.logo {
  width: 150px; /* Set the width as needed */
  height: auto; /* Maintain aspect ratio */
  /* Other styling for your logo */
}
.menu-items {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}
.menu-items li:hover{
  background-color: #2447fa;
}

.menu-items li {
  padding: 15px 20px;
}

.menu-items li a {
  color: #fff;
  text-decoration: none;
}
.menu-items li a i{
  margin-right: 5px;
}

/* Add Event Content Styles */
.main-containt{
  margin-left: 250px;
  position: absolute;
  top: 0;
  width: 70%;
}
.add-event-page {
  background-color: #fcfcfc;
  padding: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.add-event-page h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #1a2b7f;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.form-group button:hover {
  background-color: #0056b3;
}
